<p> <%= @amount[0] %> answered <%= @name[0] %>  <p>
  <p> <%= @amount[1] %> answered <%= @name[1] %>   <p>
    <p> <%= @amount[2] %> answered <%= @name[2] %>   <p>

  <form action ='/logout' method ='post'>
     <input type='submit' value='logout'>
  </form>